# Set the CORS origins.  If you're on localhost just set it to *
# IPFS_CONFIG_API_CORS_ORIGINS=["*"]
# IPFS_CONFIG_API_CORS_ORIGINS=["http://localhost:3000"]
# IPFS_CONFIG_API_CORS_ORIGINS=["https://hippocrates.netlify.com", "https://hippocrates.medcredits.io"]
