# Set the CORS origins.  If you're on localhost just set it to *
IPFS_CONFIG_CORS_ORIGINS='[
  "https://hippocrates.medcredits.io",
  "https://opencare-staging.netlify.com",
  "https://hippocrates.netlify.com",
  "https://opencare.medxprotocol.com",
  "https://opencare.medcredits.io",
  "https://registry.medxprotocol.com",
  "https://registry-staging.netlify.com"
]'

IPFS_LOGGING=critical
IPFS_LOGGING_FMT=color
IPFS_MAX_STORAGE_SIZE=75GB
