# Set the CORS origins.  If you're on localhost just set it to *
IPFS_CONFIG_API_CORS_ORIGINS=["*"]
# IPFS_CONFIG_API_CORS_ORIGINS=["https://hippocrates.netlify.com", "https://hippocrates.medcredits.io"]

# Gateway CORS can be empty
IPFS_CONFIG_GATEWAY_CORS_ORIGINS=[]

IPFS_LOGGING=critical
IPFS_LOGGING_FMT=color

IPFS_MAX_STORAGE_SIZE=75GB
